.page {
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  width: 15rem;
  margin-left: 42.5vw;
  padding: 0.8rem;
  height: 4.5vh;
}
.iconsbutton1 {
  padding: 1rem;
  color: black;
  width: 3rem;
  height: 3rem;

  background-color: white;
  outline: none;
  border: none;
}
.iconsbutton1 :hover {
  transform: scale(1.1, 1.1);
}
.pagebox {
  border: 2px solid black;
  padding: 0.1rem 0.5rem;
  margin-left: 0.8rem;
  margin-top: 0.8rem;
}
